<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes de <i>{{ planta?.nome_cientifico }}</i></ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-card *ngIf="planta">
    <ion-card-header>
      <ion-card-title>
        {{ planta?.nome_cientifico | uppercase }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content text-justify>
      <img [src]="planta.imagens[0].url" class="info-img" *ngIf="planta.imagens.length > 0" title="1 - {{planta.imagens[0].autor}} - {{planta.imagens[0].fonte}}"  alt="Imagem 1">
      
      <ion-item lines="none">
        <ion-icon name="eye" slot="start"></ion-icon>
        <ion-label><h2>Descrição</h2></ion-label>
      </ion-item>
      {{ planta?.descricao }}
      
 
      <ion-item lines="none">
        <ion-icon name="clipboard" slot="start"></ion-icon>
        <ion-label text-wrap><h2>Informações</h2></ion-label>
      </ion-item>
      
        <ion-grid>      
          <ion-row>
            <ion-col class="coluna-legenda">
              <h4>Nome(s) Popular:</h4>
            </ion-col>
            <ion-col>
              {{ planta?.nome_popular }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h4>Autoria:</h4>
            </ion-col>
            <ion-col>
              {{ planta?.autoria }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h4>PANC:</h4>
            </ion-col>
            <ion-col>
              {{ planta?.e_panc }}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h4>Meses de Floração:</h4>
            </ion-col>
            <ion-col>
              {{ planta?.ep_floracao_inicio | uppercase }} - {{ planta?.ep_floracao_fim | uppercase}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h4>Grau de Ameaça:</h4>
            </ion-col>
            <ion-col>
              {{ planta?.grau_ameaca_iucn }}
            </ion-col>
          </ion-row>
        </ion-grid>
 
      <ion-item lines="none">
          <ion-icon name="images" slot="start"></ion-icon>
          <ion-label text-wrap><h2>Imagens</h2></ion-label>
        </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col col-2 *ngFor="let imagem of planta.imagens; let i = index" [attr.data-index]="i">
            <img [src]="imagem.url" class="gallery-img" title="{{i+1}} - {{imagem.autor}} - {{imagem.fonte}}" alt="Imagem {{i+1}}"/>
          </ion-col>
        </ion-row>
      </ion-grid>
 
      
    </ion-card-content>
  </ion-card>
  
</ion-content>